body{
  padding: 0;
  margin: 0;
}
.dl{
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  border-radius: 24px;
  background-color: #C095EA;
  width: 320px;
  height: 50px;
  align-items: center;
}
.dl h1, h3{
  padding: 8px;
  font-size: 13px;
  color: white;
}
.dl img{
  width: 50px;
  height: 50px;
}
.ads{
  position: relative;
  top: 30%;
  background-color: #A862DB;
  width: auto;
  height: 50px;
}
.shop{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  padding: 8px;
  display: flex;
  align-items: center;
  background-color: #A862DB;
  border-radius: 17px;
}
.shop .card{
  padding: 8px;
  margin: 4px;
  background-color: #FFFFFF;
  border-radius: 17px;
  width: auto;
  height: 120px;
}
.card img{
  width: 50px;
  height: 50px;
}
.card p{
  padding: 0;
  margin: 0;
}
.main{
  position: absolute;
  padding: 9px;
  border-radius: 9px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 320px;
  height: 400px;
  background-color: #CEA3FF;
}
h1{
  font-size: 24px;
  position: absolute;
  width: auto;
  height: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main h3{
  font-size: 17px;
  color: white;
}
.spinImg{
  width: auto;
  height: 40px;
  font-size: 24px;
  color: white;
  position: fixed;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container{
  align-items: center;
  background-color: #42445A;
}
.chipM{
  display: flex;
  align-items: center;
}
.chipM h3{
  text-align: center;
  padding: 4px;
  font-size: 17px;
  color: white;
}
span img{
  width: 24px;
  height: 24px;
}
.money{
  display: flex;
  align-items: center;
  border-radius: 9px;
  background-color: #7E24AF;
  position: absolute;
  padding: 8px;
  height: 30px;
  width: 300px;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.money h3{
  padding: 4px;
  font-size: 17px;
  color: white;
}
.money img{
  width: 24px;
  height: 24px;
}
.money p{
  color: white;
  background-color: #2A1639;
  padding: 4px;
  border-radius: 24px;
}
.loli{
  display: flex;
  align-items: center;
}
.loli h3{
  padding: 4px;
  font-size: 17px;
  color: white;
}
.loli img{
  width: 24px;
  height: 24px;
}
.circle {
            width: 100px;
            height: 100px;
            background-color: #3498db;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -50px;
            margin-left: -50px;
            animation: spin 3s infinite linear;
        }

        /* Animasi putaran */
        .rotate {
                transform: rotate(360deg);
        }
  .circle img{
    width: 100px;
    height: 100px;
  }